/* admin pages styles */

.admin_content_cell {padding: 10px; text-align: left; font-size: 14px;}

.admin_menu_block {background: #f8f8f8;}
.admin_menu_block .head{background: #aaa; color: #fff; font-size: 14px; padding: 10px;}
.admin_menu_block a{color: #3b88c4; line-height: 24px; padding: 5px; font-size: 14px; font-weight: bold; display: block;}
.admin_menu_block a:hover {background: #3b88c4; color: #fff; text-decoration: none;}
.admin_menu_block a.active{color: #fff; background: #3b88c4;}
.admin_menu_block a.active:hover{color: #fff; cursor: default;}

.admin_page_menu {}
.admin_page_menu a.active{background: #3b88c4 !important; color: #fff !important; text-decoration: none;}
.admin_page_menu a.active:hover{cursor: default !important;}	

.rules_edit_page {}
.rules_edit_page {display: block; background: #eee; border: 1px solid #888; text-align: left; padding-bottom: 10px;}
.rules_edit_page .edit_form {}
.rules_edit_page .edit_form label{width: 100px;}
.rules_edit_page .edit_form textarea.editor{width: 700px; height: 500px; color: #000;}
.rules_edit_page .edit_form .button{background: #3b88c4 !important; color: #fff !important; font-size: 12px !important;}
.rules_edit_page .edit_form .button:hover{background: #333 !important;}

/* admin category */

table.admin_form_table {width: 100%; border-spacing: 0px; border-collapse: separate; font: 12px/20px Arial; color: #000;}
table.admin_form_table td{padding: 3px; vertical-align: middle;}
table.admin_form_table .thead {background: #ddd !important; color: #000;}
table.admin_form_table td.form_items{border: 1px solid #ccc; background: #eee; padding: 3px;}

.label-fix {text-align: right; width: 120px; display: inline-block;}